.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--gray-100);
    margin-bottom: 1rem;
    padding: 1em 0.5em;
    width: 250px;
    border-radius: 8px;
    box-shadow: 5px 10px 12px -1px rgba(142,142,142,0.31);
    .product-thumbnail, .product-name, .book-information, .product-price, .options-button {
        display: flex;
        justify-content: center;
    }

    img {
        max-width: 130px;
        border-radius: 4px;
    }

    .no-img-infos {
        display: flex;
        flex-direction: column;
        
        .infos {
        
        h1 {
            font-size: 1.15rem;
            margin-bottom: 0.45em;
            margin-top: 0.45em;
        }
        
        .book-information {
            text-transform: capitalize;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;
            p {
                font-size: 0.9rem;
            }
            
            p:first-child {
                margin-bottom: 0.65em;
            }
        }
        
        .product-price {
            font-size: 1.3rem;
            font-weight: 600;
            color: var(--text-primary);
        }
    }

    .options-button {
        margin-top: 1rem;
        display: flex;
    }

    #delete,
    #edit {
        width: 1.5rem;
        color: var(--white);
        background: none;
    }

    #delete {
        margin-right: 1em;
    }
} &:hover {
    transition: .35s;
    cursor: pointer;
    box-shadow: 5px 10px 12px -1px rgba(88, 88, 88, 0.3);
}
}